<template>
  <div class="chat-container">
    <div class="sidebar">
      <ChatSideMenu
        @openChat="viewChat"
        :users="usersList"
        :chatUpdates="updatesMap"
        @sendTestMessage="sendTestMessageToRoom"
        :selectedChat="selectedRoom"
      >
      </ChatSideMenu>
    </div>
    <div class="rc-chat">
      <iframe v-if="chatUrl" width="100%" height="100%" loading="eager" :src="chatSource"></iframe>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import ChatSideMenu from "../components/ChatSideMenu.vue";
// import axios from "axios";
import rcApi from "../api/index";
import ServerData from '../api/ServerData';
let api: any = null;

@Component({
  components: {
    ChatSideMenu
  }
})
export default class CustomChat extends Vue {
  @Prop() private msg!: string;

  private loggedIn = false;
  private authToken: string | null =
    "qhPMskSQtywq7S3cxnHYx2dPCo98Nnws_UfHn8YHhHd";
  private webSocketUrl = "wss://vishalbeehyv.rocket.chat/websocket";
  private userId: string | null = "";
  private chatBase = "https://vishalbeehyv.rocket.chat/";
  private chatUrl = '';
  private selectedRoom: any = null;
  private usersList: any = [];
  private interval: any;
  private updatesMap: any = {};
  private roomsData: any = [];

  private get chatSource(): string {
    return this.chatBase + this.chatUrl;
  }

  viewChat(chatObject: any) {
    let url = "";
    this.selectedRoom = chatObject;
    switch (chatObject.t) {
      case "p":
        url = "group/" + chatObject.name;
        break;
      case "c":
        url = "channel/" + chatObject.name;
        break;
      case "d":
        url = "direct/" + chatObject._id;
        break;
      default:
        break;
    }
    url += "?layout=embedded&output=embed";
    Vue.set(this, "chatUrl", url);
    this.markRoomAsRead(chatObject);
  }

  fetchUsers() {
    ServerData.getUsers().then(
      (resp: any) => {
        this.usersList = resp.data;
        Vue.set(this, "usersList", resp.data.users);
      },
      (err: any) => {
        console.log("error", err);
      }
    );
  }

  fetchUpdates() {
    ServerData.getUpdates().then((resp: any) => {
        Vue.set(this, "roomsData", resp.data.update);
        const updates = resp.data.update;
        for (let i = 0; i < updates.length; i++) {
          Vue.set(this.updatesMap, updates[i].rid, updates[i]);
        }
      })
      .catch((err: any) => {
        console.log("error while getting updates", err);
      });
  }

  sendTestMessageToRoom() {
    const payload = {
      message: {
        rid: this.selectedRoom._id,
        msg: "Test Message From UI"
      }
    };
    ServerData.postMessageToRoom(payload).then((resp: any) => {
      console.log("message sent to room", resp);
    });
  }

  markRoomAsRead(room: any) {
    const payload = {
      rid: room._id
    }
    ServerData.markRoomAsRead(payload).then((resp: any) => {
      console.log("marked as read");
    });
  }

  startPoll() {
    this.interval = setInterval(() => {
      this.fetchUpdates();
    }, 2000);
  }

  login() {
    // console.log('login with token');
    api = rcApi.connectToRocketChat(this.webSocketUrl);
    if (!this.loggedIn) {
      api.loginWithAuthToken(this.authToken).subscribe(
        (apiEvent: any) => {
          if (apiEvent.msg === "result") {
            // success
            // this.messages.push (apiEvent.msg)
            window.localStorage.setItem(
              "rcExpiry",
              apiEvent.result.tokenExpires.$date
            );
            this.loggedIn = true;
          }
        },
        (error: any) => {
          console.log("error", error);
          // this.errors.push (error)
        }
      );
    }
  }

  startSocket() {
    api = rcApi.connectToRocketChat(this.webSocketUrl);
    api.onError((error: any) => {
      console.log("ERROR", error);
      // this.errors.push (error)
    });
    api.onCompletion(() => console.log("finished"));
    api.onMessage((message: any) => {
      console.log('onMessage', message);
    });
    // ping server to keepAlive
    api.connectToServer().subscribe(
      () => {
        api.keepAlive().subscribe(); // Ping Server
      },
      (error: any) => {
        console.log("ping server error", error);
        // this.errors.push (error)
      }
    );
    // check logged in
    const rcExpiry = parseInt(window.localStorage.getItem("rcExpiry") || "0");
    const now = new Date().getTime();
    if (now < rcExpiry) {
      const rcToken = window.localStorage.getItem("authToken");
      const rcId = window.localStorage.getItem("userId");
      this.userId = rcId;
      this.authToken = rcToken;
      this.login();
    }
  }

  startSocketNew() {
    const rocketChatSocket = new WebSocket(this.webSocketUrl);

    rocketChatSocket.onopen = function () {
      console.log("Opening a connection...");
      const connectRequest = {
        msg: "connect",
        version: "1",
        support: ["1", "pre2", "pre1"]
      };
      rocketChatSocket.send(JSON.stringify(connectRequest));

      const loginRequest = {
        msg: "method",
        method: "login",
        id: "W5CDbvu7DP3aA4aHR",
        params: [
          { "resume": "qhPMskSQtywq7S3cxnHYx2dPCo98Nnws_UfHn8YHhHd" }
        ]
      };

      rocketChatSocket.send(JSON.stringify(loginRequest));

      const subscribeRequest = {
        msg: "sub",
        id: "EG7PaHi4paHEhLdbxW5CDbvu7DP3aA4aHR",
        name: "stream-room-messages",
        params:[
          "__my_messages__",
          false
        ]
      };

      rocketChatSocket.send(JSON.stringify(subscribeRequest));
    };
    rocketChatSocket.onclose = function (evt) {
      console.log("I'm sorry. Bye!");
    };
    rocketChatSocket.onmessage = function (evt) {
      const data = JSON.parse(evt.data);
      if (data.msg == 'ping') {
        console.log('pong!');
        rocketChatSocket.send(JSON.stringify({
          msg: 'pong'
        }));
        return;
      }
      console.log("On message", evt);
      // handle messages here
    };
    rocketChatSocket.onerror = function (evt) {
      console.log("ERR: " + evt.data);
    };
  }

  addListeners() {
    const that = this; // eslint-disable-line
    window.addEventListener('message', function(e) {
      const update = e.data;
      if (update.eventName === "unread-changed-by-subscription") {
        Vue.set(that.updatesMap, update.data.rid, update.data);
      }
    });
  }

  mounted() {
    this.fetchUsers();
    this.addListeners();
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.chat-container {
  display: flex;
  height: 100%;

  .sidebar {
    width: 18rem;
    overflow: auto;
    border-right: 1px solid grey;
    padding: 0 0.5rem;
  }

  .rc-chat {
    flex: 1;

    iframe {
      border: 0;
      margin: 0;
    }
  }
}
</style>
