<template>
  <ModalDialog @closeModal="closeModal">
    <template #header>
      {{headerText}}
    </template>
    <template #default>
      <div>
        <div v-if="channelType === 'c'">
          <div class="input-fields">
            <label for="channelName">Channel Name</label>
            <input v-model="channelName" name="channelName" class="channelName" type="text" placeholder="name" />
          </div>
          <div class="input-fields">
            <label for="privateChannel">Private Channel</label>
            <input type="checkbox" v-model="privateChannel" name="privateChannel" />
          </div>
        </div>
        <div class="input-fields">
          <label for="user-select">Invite Users</label>
          <vSelect
            :multiple="true"
            name="user-select"
            label="name"
            :options="users"
            v-model="selectedUsers"
            @input="selectionChanged"
          >
          </vSelect>
        </div>
      </div>
    </template>
    <template #footer>
      <button class="primary" @click="createChannel">Create</button>
    </template>
  </ModalDialog>
</template>

<script lang="ts">
import { Component, Prop, Vue, Emit } from "vue-property-decorator";
import ServerData from "../api/ServerData";
import ModalDialog from "../components/ModalDialog.vue";
import vSelect from "vue-select";

@Component({
  components: {
    ModalDialog,
    vSelect
  }
})
export default class AddChannel extends Vue {
  @Prop({ default: false }) scrollable!: boolean;
  @Prop({ default: () => [] }) users!: any;
  @Prop({ default: "c" }) channelType!: string;

  private selectedUsers: any = [];
  private channelName = "";
  private privateChannel = false;

  @Emit('closeModal')
  closeModal(created: boolean) {
    console.log("close modal");
    return created;
  }

  mounted() {
    console.log("users", this.users);
  }

  selectionChanged(event: any) {
    console.log("selction chnaged", event);
    console.log("from v-model", this.selectedUsers);
  }

  createChannel() {
    if (this.privateChannel) {
      this.createPrivateChannel();
      return;
    }
    console.log("Channel type", this.channelType);
    switch (this.channelType) {
      case "c":
        this.createPublicChannel();
        break;
      case "d":
        this.startDirectMessage();
        break;
      default:
        break;
    }
  }

  get headerText(): string {
    switch (this.channelType) {
      case "c":
        return "Create New Channel";
      case "d":
        return "Start Direct Chat";
      default:
        return "Create New Channel";
    }
  }

  createPrivateChannel() {
    const createChannelPayload = {
      name: this.channelName,
      members: this.selectedUsers.map(user => user.username)
    };
    ServerData.createGroup(createChannelPayload).then(
      (resp: any) => {
        console.log("create channnel reponse", resp);
        this.closeModal(true);
      },
      (err: any) => {
        console.log("create error", err);
      }
    );
  }

  createPublicChannel() {
    console.log("create public channel");
    const createChannelPayload = {
      name: this.channelName,
      members: this.selectedUsers.map(user => user.username)
    };
    ServerData.createChannel(createChannelPayload).then(
      (resp: any) => {
        console.log("create channnel reponse", resp);
        this.closeModal(true);
      },
      (err: any) => {
        console.log("create error", err);
      }
    );
  }

  startDirectMessage() {
    const createChannelPayload = {
      usernames: this.selectedUsers.map(user => user.username).join(",")
    };
    ServerData.createDirectChat(createChannelPayload).then(
      (resp: any) => {
        console.log("create channnel reponse", resp);
        this.closeModal(true);
      },
      (err: any) => {
        console.log("create error", err);
      }
    );
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
@import "vue-select/src/scss/vue-select.scss";
.modalDialogWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #48484880;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.channelName {
  display: block;
  width: 100%;
  padding: 0.25rem 0;
}
.input-fields {
  text-align: left;
  margin-bottom: 1rem;
}
</style>
