<template>
  <div>
    <div class="create-buttons">
      <button @click="createChannel">Create Channel</button>
      <button @click="startDirectChat">Direct Message</button>
      <button @click="$emit('sendTestMessage')">Post Test Message</button>
    </div>
    <div class="group-cntr">
      <div class="group-heading">Private groups</div>
      <div class="group-item" v-for="group in privateGroups" :key="group.name" @click="$emit('openChat', group)" :class="selectedChat && group._id === selectedChat._id ? 'active': ''">
        {{group.name}}
        <div v-if="getUnreads(group) > 0" class="unread-count">{{getUnreads(group)}}</div>
      </div>
    </div>
    <div class="group-cntr">
      <div class="group-heading">Channels</div>
      <div class="group-item" v-for="channel in channels" :key="channel.name" @click="$emit('openChat', channel)" :class="selectedChat && channel._id === selectedChat._id ? 'active': ''">
        {{channel.name}}
        <div v-if="getUnreads(channel) > 0" class="unread-count">{{getUnreads(channel)}}</div>
      </div>
    </div>
    <div class="group-cntr">
      <div class="group-heading">Direct messages</div>
      <div class="group-item" v-for="dm in directMessages" :key="dm.name" @click="$emit('openChat', dm)" :class="selectedChat && dm._id === selectedChat._id ? 'active': ''">
        {{getUsernames(dm)}}
        <span :class="dm.status"></span>
        <div v-if="getUnreads(dm) > 0" class="unread-count">{{getUnreads(dm)}}</div>
      </div>
    </div>
    <template>
      <AddChannel
        :users="userOptions"
        v-if="showModal"
        :channelType="channelType"
        @closeModal="closeModal"
      >
      </AddChannel>
    </template>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue, Emit, Watch } from "vue-property-decorator";
import ServerData from "../api/ServerData";
import AddChannel from "../components/AddChannel.vue";

@Component({
  components: {
    AddChannel
  }
})
export default class ChatSideMenu extends Vue {
  @Prop({ default: [] }) users!: any;
  @Prop({ default: () => ({}) }) chatUpdates!: any;
  @Prop() selectedChat?: any;

  private roomsList: any = [{name: "temp"}];
  private showModal = false;
  private channelType = "c";
  private updatesOnChats: any = {};
  private userDetails: any = {};

  @Watch("chatUpdates")
  updatesChanged(newVal: any) {
    this.updatesOnChats = newVal;
  }

  private get userOptions(): any {
    return this.users.filter(user => user.username !== this.userDetails.username);
  }

  createChannel() {
    Vue.set(this, "showModal", true);
    Vue.set(this, "channelType", "c");
  }

  startDirectChat() {
    Vue.set(this, "showModal", true);
    Vue.set(this, "channelType", "d");
  }

  closeModal(reload: boolean) {
    console.log("CLOSE MODAL");
    Vue.set(this, "showModal", false);
    Vue.set(this, "channelType", "c");
    if (reload) {
      this.fetchRooms();
    }
  }

  fetchRooms() {
    ServerData.getRooms().then(
      (resp: any) => {
        this.roomsList = resp.data;
        Vue.set(this, "roomsList", resp.data.update);
        this.$emit('openChat', this.roomsList[0]);
      },
      (err: any) => {
        console.log("error", err);
      }
    );
  }

  fetchCurrentUserDetails() {
    ServerData.getCurrentUserDetails().then(
      (resp: any) => {
        console.log("CUrrent User Details", resp.data);
        this.userDetails = resp.data;
        Vue.set(this, "userDetails", resp.data);
      },
      (err: any) => {
        console.log("error", err);
      }
    );
  }

  getActiveClass(chat: any) {
    console.log("CHAT", chat);
    console.log("Selected Chat", this.selectedChat);
  }

  private getUsernames(chat: any): string {
    return chat.usernames.filter(user => user !== this.userDetails.username).join(", ");
  }

  mounted() {
    this.fetchRooms();
    this.fetchCurrentUserDetails();
  }

  private get privateGroups(): any {
    return this.roomsList.filter((room: any) => room.t === "p");
  }

  private get directMessages(): any {
    return this.roomsList.filter((room: any) => room.t === "d");
  }

  private get channels(): any {
    return this.roomsList.filter((room: any) => room.t === "c");
  }

  private getUnreads(chat: any) {
    if (this.updatesOnChats && this.updatesOnChats[chat._id]) {
      return this.updatesOnChats[chat._id].unread;
    }
    return "";
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.create-buttons {
  display: flex;
}
.group-heading {
  padding: 0.5rem;
  color: white;
  background: grey;
}

.group-cntr {
  margin-bottom: 1rem;
}
.group-item {
  padding: 4px;
  cursor: pointer;
  color: #0515a3;
  display: flex;
  align-items: center;

  &.active {
    background: #80808040;
  }
}
.create-buttons {
  margin-bottom: 1rem;
}
.unread-count {
  background: brown;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  width: 1rem;
  height: 1rem;
  font-size: 0.75rem;
}

.online {
  width: 12px;
  height: 12px;
  background: green;
  border-radius: 50%;
  margin-left: 0.5rem;
}
</style>
