<template>
  <div class="modalDialogWrapper">
    <div class="modal-content">
      <div class="header">
        <template>
          <div>
            <slot name="header"></slot>
            <span class="close-btn" @click="$emit('closeModal')">X</span>
          </div>
        </template>
      </div>
      <template v-if="scrollable">
        <ScrollableContent class="content">
          <slot name="default"></slot>
        </ScrollableContent>
      </template>
      <template v-else>
        <slot name="default"></slot>
      </template>
      <div class="footer">
        <template>
          <slot name="footer"></slot>
        </template>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue, Emit } from "vue-property-decorator";
import ServerData from "../api/ServerData";

@Component({})
export default class ModalDialog extends Vue {
  @Prop({ default: false }) scrollable!: boolean;
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.modalDialogWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #48484880;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-content {
  min-width: 25rem;
  min-height: 20rem;
  background-color: white;
  padding: 1rem;
  position: relative;
}
.header {
  margin-bottom: 1rem;
  text-align: left;
  font-weight: bold;

  .close-btn {
    float: right;
    cursor: pointer;
  }
}
.footer {
  position: absolute;
  bottom: 0.5rem;
}
</style>
